<mat-toolbar color="secundary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/products" routerLinkActive="active">Productos</a>
                <a routerLink="/contact" routerLinkActive="active">Contactos</a>
            </nav>
            <a mat-raised-button matBadge="4" matBadgeColor="warn">
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </a>
        </div>
            
       
    </mat-toolbar-row>

</mat-toolbar>

       

 